<h1 class="display-4 text-primary">
 貸し借りサイト </h1>
<p><%= @msg %></p>
<hr>
<div><%=link_to 'ログイン&gt;&gt;'.html_safe,
  {action:'login_check'} %></div>
<div><%= link_to "ログアウト&gt;&gt;".html_safe,
  destroy_account_session_path, 
  method: :delete %></div>
