<h1 class="display-4 text-primary">
 貸し借りサイト </h1>
<p><%= @msg %></p>
<hr>
<div><%=link_to 'ログイン&gt;&gt;'.html_safe,
  {action:'login_check'} %></div>
<div><%=link_to '新規登録&gt;&gt;'.html_safe,
  '/accounts/sign_up' %></div>
